.platform-android {
	.scroll-content {
		background-color: #f1f1f1;
	}

	component-header {
		.logo {
			height: 30px;
		}

		img.header-img {
			height: 50px;
		}
	}

	page-home .cards {
		height: calc(33.33vh - (56px / 3));
	}
}