.platform-ios {
	.scroll-content {
		background-color: #f8f8f8;
	}

	ion-navbar {
		height: 88px;
	}

	component-header {
		.logo {
			height: 30px;
		}

		img.header-img {
			height: 50px;
		}
	}

	page-home .cards {
		height: calc(33.33vh - (88px / 3));
	}

	page-icons-message {
		ion-toolbar {
			top: 88px;
		}
	}
}