<ion-header>
    <component-header></component-header>
</ion-header>

<ion-toolbar id="toolbar" style="margin-top: 56px;">
    <div class="message-container">
        <div class="message-icons-container">
            <img *ngFor="let messageIcon of messageIcons" [src]="messageIcon" class="message-icon"/>
        </div>

        <button ion-button icon-only clear (click)="eraseLastIcon()">
            <ion-icon name="backspace"></ion-icon>
        </button>
    </div>

    <div *ngIf="messageTextAux.length > 0" class="message-text-container">
        <div class="message-text">
            {{ messageText }}
            <ion-spinner *ngIf="messageTextLoading" name="crescent"></ion-spinner>
        </div>

        <button ion-button icon-only clear (click)="goToTranslationText()">
            <ion-icon name="send"></ion-icon>
        </button>
    </div>
</ion-toolbar>

<ion-content [ngClass]="{'top-margin-with-icons' : messageTextAux.length > 0}">
    <div id="icons-container">
        <div *ngFor="let icon of icons" class="icon-container">
            <img src="{{ 'assets/imgs/' + icon.name}}" (click)="selectIcon(icon.name, icon.text)" class="available-icon"/>
            <!--{{ icon.text | translate }}-->
        </div>
    </div>
</ion-content>
