<ion-header>
    <component-header></component-header>
</ion-header>

<ion-content>
    <ion-toolbar style="position: fixed; top:0">
        <div class="message-container">
            <div class="message-icons-container">
                <img *ngFor="let messageIcon of messageIcons" [src]="messageIcon" class="message-icon"/>
            </div>

            <button ion-button icon-only (click)="eraseLastIcon()">
                <ion-icon name="backspace"></ion-icon>
            </button>
        </div>

        <div *ngIf="messageTextAux.length > 0" class="message-text-container">
            <div class="message-text">
                {{ messageText }}
                <ion-spinner *ngIf="messageTextLoading" name="crescent"></ion-spinner>
            </div>

            <button ion-button icon-only (click)="goToTranslationText()">
                <ion-icon name="send"></ion-icon>
            </button>
        </div>
    </ion-toolbar>


    <div class="icons-container">
        <div *ngFor="let icon of appConstants.icons" class="icon-container">
            <img src="{{ 'assets/imgs/' + icon.name}}" (click)="selectIcon(icon.name, icon.text)" class="available-icon"/>
            <!--{{ icon.text | translate }}-->
        </div>
    </div>
</ion-content>
