page-communication-types {

  .cards-container-2 {
    @extend .column, .start-start;
  }

  .cards-2{
    @extend .row, .center-center;

    width: 100%;
    height: calc(33.33vh - (56px / 3));
		border: 1px solid #fff;
  }

  .img-cards{
    width: 50%;
  }

}
