page-home {
	.cards-container {
		@extend .row, .start-start, .wrap;
	}

  .cards{
		@extend .row, .center-center;

    width: 50%;
		border: 1px solid white;
  }

  .img-cards{
    width: 75%;
  }

}
