<ion-navbar>
    <ion-icon name="chatbubbles"></ion-icon>
    IconSpeech
    <ion-buttons end>
        <button ion-button clear (click)="presentPopover('source')">
            <div *ngIf="appVariables.sourceLanguage" class="button-language">{{ appVariables.sourceLanguage }}</div>
        </button>

        <button ion-button clear (click)="appVariables.toggleSourceAndTargetLanguages()">
            <img src="assets/imgs/change.png" class="header-img"/>
        </button>

        <button ion-button clear (click)="presentPopover('target')">
            <div *ngIf="appVariables.targetLanguage" class="button-language">{{ appVariables.targetLanguage }}</div>
        </button>
    </ion-buttons>
</ion-navbar>